.hands {
  height: 100%;
  width: 100%;
  position: absolute;
  filter: drop-shadow(0.5vw 1.1vw 0.05vw rgba(0, 0, 0, 0.25));
}

.hands .hand {
  position: absolute;
  width: 3%;
  left: 48.5%;
  bottom: 50%;
  box-sizing: border-box;
  transform: translate(-50%, 0);
  transform-origin: bottom center;
  border-left: 0.6vw solid transparent;
  border-right: 0.6vw solid transparent;
}

.hands .hour {
  z-index: 6;
  height: 14vw;
  border-bottom: 14vw solid #000;
}

.hands .minute {
  z-index: 8;
  height: 43.5%;
  border-bottom: 19.7vw solid #000;
}

.hands .second {
  z-index: 20;
  height: 21.4vw;
  width: 0.75vw;
  left: 49.2%;
  border-left: 0.3vw solid transparent;
  border-right: 0.3vw solid transparent;
  border-bottom: 21.4vw solid #990000;
}

.hands .tail {
  width: 1.15vw;
  height: 6vw;
  top: 21.4vw;
  position: absolute;
  z-index: 20;
  transform: translate(-50%, 0);
  background-color: #990000;
}

.hands .minuteHub {
  width: 6%;
  height: 6%;
  border-radius: 50%;
  background-color: #000;
  position: absolute;
  z-index: 8;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hands .secondHub {
  width: 4%;
  height: 4%;
  border-radius: 50%;
  background-color: #990000;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}